@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fcfbf9; /* Warm off-white */
  color: #2d3748;
}
